.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header h1 {
  color: white;
  font-size: 3rem;
  font-family: 'Arial', sans-serif;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animated-text {
  animation: fadeInOut 3s infinite;
}

.social{
  color: white;
  margin: 10px;
}